tags
.cache
.kdev4
*.kdev4
*.json
tags
build
note*.txt
mydiff
perf.*
neovide_backtraces.log
*.diff
.direnv
.envrc
.ccls-cache
result
benchmarks
quickfix*
released*
html/ganak.wasm
html/ganak.js
html/ddnnf-cleanup.wasm
html/ddnnf-cleanup.js
html/ddnnf2dot.wasm
html/ddnnf2dot.js
/python/tests/__pycache__
tests/__pycache__
*.pdf
