c c RUN: %solver --mode 13 --npolyvars 1 %s | %OutputCheck %s
c -z0 + 1 - z0^-1

p cnf 7 23
c p weight 4 z0 + z0^-1 0
c p weight -4 1 0
c p weight 5 z0 - z0^-1 0
c p weight -5 1 0
c p weight 6 -1 0
c p weight -6 1 0
c p weight 7 -1 0
c p weight -7 1 0
3 1 -2 0
-3 1 2 0
-4 1 0
3 -4 -2 0
-3 -4 2 0
3 4 -1 2 0
-3 4 -1 -2 0
-5 1 0
3 -5 2 0
-3 -5 -2 0
3 5 -1 -2 0
-3 5 -1 2 0
-6 1 0
-6 2 0
-6 -3 0
6 3 -1 -2 0
-7 1 0
-7 3 0
7 -1 -3 0
3 -1 0
-3 1 0
1 -2 0
-1 2 0
c c CHECK: ^s SATISFIABLE$
c c CHECK: ^c s exact laurent -z0 \+ 1 - z0\^-1$
