c c RUN: %solver --mode 13 --npolyvars 1 %s | %OutputCheck %s
c -2*z0 + 2 - 2*z0^-1

p cnf 6 20
c p weight 1 -1 0
c p weight -1 1 0
c p weight 4 z0 + z0^-1 0
c p weight -4 1 0
c p weight 5 -z0 + z0^-1 0
c p weight -5 1 0
c p weight 6 -1 0
c p weight -6 1 0
3 1 -2 0
-3 1 2 0
-4 1 0
3 -4 -2 0
-3 -4 2 0
3 4 -1 2 0
-3 4 -1 -2 0
-5 1 0
3 -5 2 0
-3 -5 -2 0
3 5 -1 -2 0
-3 5 -1 2 0
-6 1 0
-6 2 0
-6 -3 0
6 3 -1 -2 0
1 -1 0
-1 1 0
3 -2 0
-3 2 0
c c CHECK: ^s SATISFIABLE$
c c CHECK: ^c s exact laurent -2\*z0 \+ 2 - 2\*z0\^-1$
